.slider {
  width: 300px;
  height: 500px;
  overflow-x: scroll;
}
.slide {
  float: left;
  width: 300px;
  height: 500px;
}

#slide-0 {
  background-color: aquamarine;
}

#slide-1 {
  background-color: peachpuff;
}

#slide-2 {
  background-color: limegreen;
}
